<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongdun.data.mapper.kratos.CjSmsMapper">
  <resultMap id="BaseResultMap" type="com.tongdun.data.entity.CjSms">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="tep_id" jdbcType="VARCHAR" property="tepId" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="rule_id" jdbcType="INTEGER" property="ruleId" />
    <result column="rule_uuid" jdbcType="VARCHAR" property="ruleUuid" />
    <result column="send_res" jdbcType="VARCHAR" property="sendRes" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="type" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, content, tep_id, type, params, rule_id, rule_uuid, send_res, created_time
  </sql>
  <select id="selectCountByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select 
  		count(1)
  	from cj_sms
  	where phone=#{phone} and rule_uuid=#{ruleUuid} 
  	 <if test="type != null">
        and type = #{type}
      </if>
  	and created_time BETWEEN DATE_SUB(#{dateTime},INTERVAL #{second} SECOND) and #{dateTime}
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cj_sms
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cj_sms
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tongdun.data.entity.CjSms" useGeneratedKeys="true" keyProperty="id" >
    insert into cj_sms ( phone, type, content, 
      tep_id, params, rule_id, 
      rule_uuid, send_res, created_time
      )
    values (#{phone,jdbcType=VARCHAR}, #{type}, #{content,jdbcType=VARCHAR}, 
      #{tepId,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{ruleId,jdbcType=INTEGER}, 
      #{ruleUuid,jdbcType=VARCHAR}, #{sendRes,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tongdun.data.entity.CjSms">
    insert into cj_sms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="tepId != null">
        tep_id,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="ruleUuid != null">
        rule_uuid,
      </if>
      <if test="sendRes != null">
        send_res,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tepId != null">
        #{tepId,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="ruleUuid != null">
        #{ruleUuid,jdbcType=VARCHAR},
      </if>
      <if test="sendRes != null">
        #{sendRes,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongdun.data.entity.CjSms">
    update cj_sms
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tepId != null">
        tep_id = #{tepId,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="ruleUuid != null">
        rule_uuid = #{ruleUuid,jdbcType=VARCHAR},
      </if>
      <if test="sendRes != null">
        send_res = #{sendRes,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongdun.data.entity.CjSms">
    update cj_sms
    set phone = #{phone,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      tep_id = #{tepId,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      rule_id = #{ruleId,jdbcType=INTEGER},
      rule_uuid = #{ruleUuid,jdbcType=VARCHAR},
      send_res = #{sendRes,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>