<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.tongdun.data.mapper.kratos.TrMerchantQkMapper">
	
	<sql id="Blob_Column_List">
		merchant_no, real_name, company_name, company_abbr,
		user_grade, req_flow_no,
		id_card_no_cipher,
		id_card_no_mask,
		bank_account_no_mask, bank_account_no_cipher, bank_account_name,
		bank_code, bank_province, bank_province_code, bank_city,
		bank_city_code, bank_name,
		bank_sub_name, bank_channel_no, email,
		mobile_cipher, mobile_mask,
		qk_seller1_user_code,
		qk_seller2_user_code,
		qk_seller3_user_code, qk_server_provider_user_code,
		source_req_flow_no,
		relative_sp_user_code, parent_sp_info,
		ref_merchant_code, wx_channel_merchant_no,
		wx_insert_res_status,
		wx_insert_res_code, wx_insert_res_message,
		alipay_channel_merchant_no,
		alipay_insert_res_status, alipay_insert_res_code,
		alipay_insert_res_message,
		unionpay_qrcode_report_res_code,
		unionpay_qrcode_report_res_msg, unionpay_qrcode_chn_mer_no, address,
		legal_person_name,
		legal_person_id_card_no_mask,
		legal_person_id_card_no_cipher,
		detail_address, management_range,
		business_no, mcc_code, com_siteweb, record_license, company_city,
		company_city_code,
		company_province, company_province_code,
		unionpay_quick_chn_mer_no,
		unionpay_mer_req_flow_no,
		id_card_no_valid_time, id_card_no_address, cn, career,
		alipay_category, wx_category,
		send_address, qrc_mer_chn_mer_no,
		qrc_mer_report_res_code,
		qrc_mer_report_res_msg
	</sql>

	<select id="selectCountByParams" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select
		count(1)
		from tr_merchant_qk
		where 1=1
		<if test="createTime != null">and date_format(create_time, '%Y-%m-%d') = #{createTime}</if>
	</select>

	<insert id="batchInsert" parameterType="java.util.List">
		REPLACE into tr_merchant_qk (id, user_uuid, account_uuid,
		user_class,
		is_post, post_time,
		qk_server_provider_id, bank_account_type,
		sett_type,
		sett_day, is_agent, is_self_sett_mode,
		create_time,
		delete_status, qk_seller1_id,
		qk_seller2_id, qk_seller3_id, user_level,
		relative_sp_id, merchant_type, ref_merchant_id,
		check_status,
		similarity_degree, activate_status,
		member_level, syn_rate_time,
		syn_limit_time,
		syn_acc_time, activate_time, bank_card_type,
		gender,
		wx_insert_time, alipay_insert_time,
		id_card_no_start_time,
		id_card_no_end_time,
		qrc_syn_status, cup_mer_insert_time, merchant_no,
		real_name, company_name, company_abbr,
		user_grade, req_flow_no,
		id_card_no_cipher,
		id_card_no_mask, bank_account_no_mask,
		bank_account_no_cipher, bank_account_name,
		bank_code, bank_province,
		bank_province_code,
		bank_city, bank_city_code, bank_name,
		bank_sub_name, bank_channel_no, email,
		mobile_cipher, mobile_mask,
		qk_seller1_user_code,
		qk_seller2_user_code, qk_seller3_user_code,
		qk_server_provider_user_code, source_req_flow_no,
		relative_sp_user_code, parent_sp_info,
		ref_merchant_code,
		wx_channel_merchant_no,
		wx_insert_res_status, wx_insert_res_code,
		wx_insert_res_message, alipay_channel_merchant_no,
		alipay_insert_res_status, alipay_insert_res_code,
		alipay_insert_res_message, unionpay_qrcode_report_res_code,
		unionpay_qrcode_report_res_msg, unionpay_qrcode_chn_mer_no,
		address,
		legal_person_name, legal_person_id_card_no_mask,
		legal_person_id_card_no_cipher, detail_address,
		management_range,
		business_no, mcc_code,
		com_siteweb, record_license, company_city,
		company_city_code, company_province,
		company_province_code,
		unionpay_quick_chn_mer_no,
		unionpay_mer_req_flow_no,
		id_card_no_valid_time,
		id_card_no_address, cn, career,
		alipay_category,
		wx_category, send_address,
		qrc_mer_chn_mer_no, qrc_mer_report_res_code,
		qrc_mer_report_res_msg)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id}, #{item.userUuid},
			#{item.accountUuid},
			#{item.userClass}, #{item.isPost},
			#{item.postTime},
			#{item.qkServerProviderId},
			#{item.bankAccountType},
			#{item.settType},
			#{item.settDay}, #{item.isAgent},
			#{item.isSelfSettMode},
			#{item.createTime},
			#{item.deleteStatus},
			#{item.qkSeller1Id},
			#{item.qkSeller2Id},
			#{item.qkSeller3Id},
			#{item.userLevel},
			#{item.relativeSpId},
			#{item.merchantType},
			#{item.refMerchantId},
			#{item.checkStatus},
			#{item.similarityDegree},
			#{item.activateStatus},
			#{item.memberLevel},
			#{item.synRateTime},
			#{item.synLimitTime},
			#{item.synAccTime},
			#{item.activateTime},
			#{item.bankCardType},
			#{item.gender},
			#{item.wxInsertTime},
			#{item.alipayInsertTime},
			#{item.idCardNoStartTime},
			#{item.idCardNoEndTime},
			#{item.qrcSynStatus},
			#{item.cupMerInsertTime},
			#{item.merchantNo},
			#{item.realName},
			#{item.companyName},
			#{item.companyAbbr},
			#{item.userGrade},
			#{item.reqFlowNo},
			#{item.idCardNoCipher},
			#{item.idCardNoMask},
			#{item.bankAccountNoMask},
			#{item.bankAccountNoCipher},
			#{item.bankAccountName},
			#{item.bankCode},
			#{item.bankProvince},
			#{item.bankProvinceCode},
			#{item.bankCity},
			#{item.bankCityCode},
			#{item.bankName},
			#{item.bankSubName},
			#{item.bankChannelNo},
			#{item.email},
			#{item.mobileCipher},
			#{item.mobileMask},
			#{item.qkSeller1UserCode},
			#{item.qkSeller2UserCode},
			#{item.qkSeller3UserCode},
			#{item.qkServerProviderUserCode},
			#{item.sourceReqFlowNo},
			#{item.relativeSpUserCode},
			#{item.parentSpInfo},
			#{item.refMerchantCode},
			#{item.wxChannelMerchantNo},
			#{item.wxInsertResStatus},
			#{item.wxInsertResCode},
			#{item.wxInsertResMessage},
			#{item.alipayChannelMerchantNo},
			#{item.alipayInsertResStatus},
			#{item.alipayInsertResCode},
			#{item.alipayInsertResMessage},
			#{item.unionpayQrcodeReportResCode},
			#{item.unionpayQrcodeReportResMsg},
			#{item.unionpayQrcodeChnMerNo},
			#{item.address},
			#{item.legalPersonName},
			#{item.legalPersonIdCardNoMask},
			#{item.legalPersonIdCardNoCipher},
			#{item.detailAddress},
			#{item.managementRange},
			#{item.businessNo},
			#{item.mccCode},
			#{item.comSiteweb},
			#{item.recordLicense},
			#{item.companyCity},
			#{item.companyCityCode},
			#{item.companyProvince},
			#{item.companyProvinceCode},
			#{item.unionpayQuickChnMerNo},
			#{item.unionpayMerReqFlowNo},
			#{item.idCardNoValidTime},
			#{item.idCardNoAddress},
			#{item.cn},
			#{item.career},
			#{item.alipayCategory},
			#{item.wxCategory},
			#{item.sendAddress},
			#{item.qrcMerChnMerNo},
			#{item.qrcMerReportResCode},
			#{item.qrcMerReportResMsg})
		</foreach>
	</insert>

	<insert id="insert" parameterType="com.tongdun.data.entity.PgQkUser">
		REPLACE into tr_merchant_qk (id, user_uuid, account_uuid,
		user_class,
		is_post, post_time,
		qk_server_provider_id, bank_account_type,
		sett_type,
		sett_day, is_agent, is_self_sett_mode,
		create_time,
		delete_status, qk_seller1_id,
		qk_seller2_id, qk_seller3_id, user_level,
		relative_sp_id, merchant_type, ref_merchant_id,
		check_status,
		similarity_degree, activate_status,
		member_level, syn_rate_time,
		syn_limit_time,
		syn_acc_time, activate_time, bank_card_type,
		gender,
		wx_insert_time, alipay_insert_time,
		id_card_no_start_time,
		id_card_no_end_time,
		qrc_syn_status, cup_mer_insert_time, merchant_no,
		real_name, company_name, company_abbr,
		user_grade, req_flow_no,
		id_card_no_cipher,
		id_card_no_mask, bank_account_no_mask,
		bank_account_no_cipher, bank_account_name,
		bank_code, bank_province,
		bank_province_code,
		bank_city, bank_city_code, bank_name,
		bank_sub_name, bank_channel_no, email,
		mobile_cipher, mobile_mask,
		qk_seller1_user_code,
		qk_seller2_user_code, qk_seller3_user_code,
		qk_server_provider_user_code, source_req_flow_no,
		relative_sp_user_code, parent_sp_info,
		ref_merchant_code,
		wx_channel_merchant_no,
		wx_insert_res_status, wx_insert_res_code,
		wx_insert_res_message, alipay_channel_merchant_no,
		alipay_insert_res_status, alipay_insert_res_code,
		alipay_insert_res_message, unionpay_qrcode_report_res_code,
		unionpay_qrcode_report_res_msg, unionpay_qrcode_chn_mer_no,
		address,
		legal_person_name, legal_person_id_card_no_mask,
		legal_person_id_card_no_cipher, detail_address,
		management_range,
		business_no, mcc_code,
		com_siteweb, record_license, company_city,
		company_city_code, company_province,
		company_province_code,
		unionpay_quick_chn_mer_no,
		unionpay_mer_req_flow_no,
		id_card_no_valid_time,
		id_card_no_address, cn, career,
		alipay_category,
		wx_category, send_address,
		qrc_mer_chn_mer_no, qrc_mer_report_res_code,
		qrc_mer_report_res_msg)
		values
			(#{id}, #{userUuid},
			#{accountUuid},
			#{userClass}, #{isPost},
			#{postTime},
			#{qkServerProviderId},
			#{bankAccountType},
			#{settType},
			#{settDay}, #{isAgent},
			#{isSelfSettMode},
			#{createTime},
			#{deleteStatus},
			#{qkSeller1Id},
			#{qkSeller2Id},
			#{qkSeller3Id},
			#{userLevel},
			#{relativeSpId},
			#{merchantType},
			#{refMerchantId},
			#{checkStatus},
			#{similarityDegree},
			#{activateStatus},
			#{memberLevel},
			#{synRateTime},
			#{synLimitTime},
			#{synAccTime},
			#{activateTime},
			#{bankCardType},
			#{gender},
			#{wxInsertTime},
			#{alipayInsertTime},
			#{idCardNoStartTime},
			#{idCardNoEndTime},
			#{qrcSynStatus},
			#{cupMerInsertTime},
			#{merchantNo},
			#{realName},
			#{companyName},
			#{companyAbbr},
			#{userGrade},
			#{reqFlowNo},
			#{idCardNoCipher},
			#{idCardNoMask},
			#{bankAccountNoMask},
			#{bankAccountNoCipher},
			#{bankAccountName},
			#{bankCode},
			#{bankProvince},
			#{bankProvinceCode},
			#{bankCity},
			#{bankCityCode},
			#{bankName},
			#{bankSubName},
			#{bankChannelNo},
			#{email},
			#{mobileCipher},
			#{mobileMask},
			#{qkSeller1UserCode},
			#{qkSeller2UserCode},
			#{qkSeller3UserCode},
			#{qkServerProviderUserCode},
			#{sourceReqFlowNo},
			#{relativeSpUserCode},
			#{parentSpInfo},
			#{refMerchantCode},
			#{wxChannelMerchantNo},
			#{wxInsertResStatus},
			#{wxInsertResCode},
			#{wxInsertResMessage},
			#{alipayChannelMerchantNo},
			#{alipayInsertResStatus},
			#{alipayInsertResCode},
			#{alipayInsertResMessage},
			#{unionpayQrcodeReportResCode},
			#{unionpayQrcodeReportResMsg},
			#{unionpayQrcodeChnMerNo},
			#{address},
			#{legalPersonName},
			#{legalPersonIdCardNoMask},
			#{legalPersonIdCardNoCipher},
			#{detailAddress},
			#{managementRange},
			#{businessNo},
			#{mccCode},
			#{comSiteweb},
			#{recordLicense},
			#{companyCity},
			#{companyCityCode},
			#{companyProvince},
			#{companyProvinceCode},
			#{unionpayQuickChnMerNo},
			#{unionpayMerReqFlowNo},
			#{idCardNoValidTime},
			#{idCardNoAddress},
			#{cn},
			#{career},
			#{alipayCategory},
			#{wxCategory},
			#{sendAddress},
			#{qrcMerChnMerNo},
			#{qrcMerReportResCode},
			#{qrcMerReportResMsg})
	</insert>
	
</mapper>